:root {
  --accent-color: rgb(255, 255, 255);
  --dark-heading: rgb(61, 61, 61);
  --light-text: rgb(114, 114, 114);
  --green: rgb(70, 163, 88);
}

@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/CeraPro-Regular.woff2") format("woff2"),
    url("./fonts/CeraPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/CeraPro-Black.woff2") format("woff2"),
    url("./fonts/CeraPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/CeraPro-Thin.woff2") format("woff2"),
    url("./fonts/CeraPro-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/CeraPro-Medium.woff2") format("woff2"),
    url("./fonts/CeraPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/CeraPro-Bold.woff2") format("woff2"),
    url("./fonts/CeraPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/CeraPro-Light.woff2") format("woff2"),
    url("./fonts/CeraPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: "Cera Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--light-text);
  background-color: var(--accent-color);
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    background-color: var(--green);
    border-radius: 6px;
    color: var(--accent-color);
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    &:hover {
      background-color: transparent;
      border: 1px solid var(--green);
      color: var(--green);
      svg {
        color: var(--green);
      }
    }
    &:active {
      opacity: 0.7;
    }
  }
  .container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  .site-header {
    padding-top: 25px;
    padding-bottom: 12px;
    .site-header__container {
      display: flex;
      align-items: center;
      // border-bottom: 1px solid var(--green);
      .site-header__logo {
        margin-right: 230px;
        align-self: flex-start;
      }
      .logo {
        display: flex;
        flex-shrink: 0;
        width: 150px;
        &:hover {
          opacity: 0.9;
        }
        &:active {
          opacity: 0.8;
        }
      }
      .sitenav {
        margin-right: 260px;
        .sitenav__list {
          display: flex;
          align-items: center;
          list-style: none;
          margin: 0;
          padding: 0;
          .sitenav__item {
            padding-bottom: 23px;
            position: relative;
            &:not(:last-child) {
              margin-right: 49px;
            }
            &:hover {
              @extend .sitenav__item--active;
            }
            .sitenav__link {
              text-decoration: none;
              text-transform: capitalize;
              color: var(--dark-heading);
              font-size: 16px;
              line-height: 20px;
            }
          }
          .sitenav__item--active {
            font-weight: 700;
            background-image: url("../img/active-line.svg");
            background-repeat: no-repeat;
            background-position: center 45px;
          }
        }
      }
      .site-header__navigation {
        display: flex;
        align-items: center;
        margin-left: auto;  
        margin-right: 32px;
        .navigation-btn {
          border: 0;
          outline: none;
          background-color: transparent;
          cursor: pointer;
          align-self: flex-start;
        }
        .search-btn {
          margin-right: 30px;
          .search-icon {
            width: 20px;
            height: 20px;
          }
        }
        .market-btn {
          position: relative;
          .market-icon {
            width: 24px;
            height: 24px;
          }
          .count {
            width: 12px;
            height: 12px;
            text-align: center;
            border-radius: 50%;
            color: var(--accent-color);
            background-color: var(--green);
            font-weight: 500;
            font-size: 10px;
            line-height: 13px;
            position: absolute;
            padding: 1px 3px;
            top: 2px;
            left: 17px;
          }
        }
      }
      .login-btn {
        width: 100px;
        padding: 7px 17px;
        align-self: flex-start;
        text-transform: capitalize;
        svg {
          width: 20px;
          height: 20px;
          margin-right: 4px;
        }
      }
    }
  }

  .main-content {
    flex-grow: 1;
    .intro {
      margin-top: 0;
      margin-bottom: 46px;
      .intro__container {
        display: flex;
        align-items: center;
        background-color: rgba(245, 245, 245, 50%);
        padding-left: 40px;
        position: relative;
        padding-right: 20px;
        background-image: url("../img/little-fl.png");
        background-repeat: no-repeat;
        background-position: 70% 94%;
        .intro__content {
          margin-right: 16px;
          .greeting-text {
            font-weight: 500;
            line-height: 16px;
            color: var(--dark-heading);
            text-transform: uppercase;
            margin-bottom: 7px;
          }
          .intro__heading {
            font-size: 70px;
            line-height: 70px;
            font-weight: 900;
            color: var(--dark-heading);
            margin-bottom: 5px;
            text-transform: uppercase;
            .mk-text {
              color: var(--green);
            }
          }
          .intro__text {
            margin-bottom: 44px;
          }
          .intro__btn {
            width: 140px;
            padding: 10px 25px;
            font-weight: 700;
          }
        }
        .intro__img--big {
          width: 518px;
          margin-right: -40px;
          margin-bottom: -25px;
        }
        .slider-img-wrapper {
          position: absolute;
          bottom: 17px;
          left: 50%;
          right: 50%;
          transform: translate(-50%, -50%);
          .slider__img {
            width: 40px;
          }
        }
      }
    }
  }
}
